TriCore Debug (TASKING)
!TriCore Debug (TASKING)/sota.map

*.o
*.obj
*.elf
*.hex
*.srec
*.lst
*.dep
*.d


.metadata/
*.user
*.useros
*.launch

.DS_Store
Thumbs.db
*~
*.swp
*.swo
*.bak
*.tmp

.ads/


venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.spec


*.sublime-project
*.sublime-workspace


.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*.csv
*.png

datasheet/